* {
  margin: 0;
  padding: 0; }

body {
  font-family: Helvetica, sans-serif;
  background: #fff; }

.main-wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0; }

header {
  height: 220px; }
  header .logo img {
    width: 300px;
    height: 200px;
    float: left; }
  header nav {
    float: right;
    margin-top: 100px;
    width: 600px;
    padding: 10px 0;
    border-top: 1px solid #00acce;
    border-bottom: 1px solid #00acce;
    text-align: center;
    word-spacing: 100px; }
    header nav a {
      color: #00acce;
      text-transform: uppercase;
      text-decoration: none; }
      header nav a:hover {
        color: #00acce; }

.toolbar {
  float: right;
  margin-bottom: 20px;
  margin-right: 20px; }
  .toolbar input {
    border: 1px solid #00acce;
    text-align: left;
    padding: 10px 0 10px 20px;
    background-color: #fff; }
    .toolbar input:active {
      border: 1px solid #00acce; }
    .toolbar input::placeholder {
      color: #00acce; }

.post-list {
  clear: both; }

article {
  width: 47%;
  display: inline-block;
  padding: 10px;
  margin-top: 20px;
  vertical-align: top;
  background-color: #fff; }
  article img {
    width: 100%; }

.post-description {
  color: #15955C;
  font-size: 12px;
  padding: 10px 0;
  margin: 0 20px;
  border-bottom: 1px solid #B8B8B8; }

h3 {
  color: #00acce;
  margin: 5px 20px; }

p {
  color: #B8B8B8;
  margin: 15px 20px;
  font-size: 14px; }

h1 {
  color: #00acce;
  margin-top: 60px;
  text-align: right; }

.about {
  width: 100%; }

.about img {
  width: 100%;
  margin-top: 20px; }

h4 {
  color: #00acce;
  text-align: right;
  margin: 0; }

form {
  margin-top: 20px; }

input, textarea {
  width: 100%;
  margin: 10px 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border: 1px solid #B8B8B8; }

input:active {
  border: 1px solid #00acce; }

textarea {
  padding-right: 0;
  padding-bottom: 40px; }

textarea:active {
  border: 1px solid #00acce; }

#message::placeholder, form input::placeholder {
  color: #B8B8B8;
  font-size: 12px;
  font-family: Helvetica, sans-serif; }

form .btn {
  float: right;
  width: 200px;
  height: 40px;
  background: #00acce;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border: none; }

footer {
  clear: both;
  color: #B8B8B8;
  font-size: 8px;
  margin-bottom: 5px; }
