
/* Your styles go here */
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
body{
  font-family:sans-serif;
  background-color:#0a1223;
}
nav{
  float: right;
  padding-top: 25px;
  padding-right: 35px;
}
nav ul li{
display: inline-block;
padding: 0 15px;
}
nav ul li a{
  text-decoration:none;
  color:#5d5d5d;
}
nav ul li a:hover{
  color:#54597d;
}
nav ul li a:active{
  color:#54597d;
}
h1 {
    text-align: center;
    color: #ddd;
    padding: 100px 0;
    font-size: 3em;
}
h2{
   padding-bottom: 20px;
    font-size: 20px;
    background: linear-gradient(to right, #ddd, #5d5d5d);
    -webkit-background-clip: text;
    color: transparent;  
}
p {
    color: #5d5d5d;
    text-indent: 1.5em; 
    font-size:13px;
    line-height:1.5em;
    text-align: justify;
}

article {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 20px 180px;
}
article:nth-child(even){
    flex-direction: row-reverse;
}
.picture{
    display: inline-block;
    width: 40%;
}

.description{
    display: inline-block;
    width: 60%;
    text-align: inherit;
}
.back-top{
    display: none;
}
@media (max-width: 991px) {
     header {
        text-align: center;
        font-size: 1.3em;
    }
    h1{
        padding: 150px 30px 100px;
    }
    article, article:nth-child(2n) {
        flex-direction: column-reverse;
        margin: 0;
        padding: 50px 100px;
    }
    p {
        font-size: 1.3em;
    }
    .description{
        width: 100%;
        padding-bottom: 50px;
    }
    .picture{
        width: 100%;
    }
} 
@media (max-width: 575px) {
    header {
        padding: 0;
    }
    body {
        background: #fff;
    }

    nav   li  {
        flex-direction: column;
    justify-content: flex-start;
    padding: 0;
        text-align: left;
        display:block;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
    .active-botton {
        font-weight: bold;
    }
    h1 {
        color: #000;
    }
    article, article:nth-child(2n) {
        padding: 40px;
    }
    h2 {
        background: unset;   
        -webkit-background-clip: unset;
        -webkit-text-fill-color: unset;
        color: #484747;
    }
    p {
        font-size: 1.5em;
    }
    .back-top {
        display: block;
        color: #fff;
        background: #5ebcff;
        width: 70px;
        height: 70px;
        line-height: 70px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        border-radius: 100%;
        box-shadow: 5px 5px 30px #000;
        text-align: center;
        text-decoration: none;     
    }
}